<html>
    <head>
        <title>Welcome to ansible</title>
    </head>

    <body>
        <h1>nginx, Configured by Ansible</h1>
        <p>If you can see this, Ansible successfully installed nginx</p>

        <p>Running on <strong>{{ inventory_hostname }}</strong> </p>
    </body>
</html>